
body {
	background-image: url("background_picture.jpg");	

	background-color: lightsteelblue;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}

p {
	font-size: 25px;
	font-weight: bold;
}

a {
	font-size: 30px;
	text-align: center;
}
